:root {
  --font-body: var(--font-red-hat-display), "Red Hat Display", sans-serif;
}

html,
body,
body * {
  font-family: var(--font-body) !important;
}

button,
input,
select,
textarea,
option,
label,
table,
th,
td {
  font-family: var(--font-body) !important;
}
